body {
	margin-left: 10%;
	margin-right: 10%;
	background-image: url(https://s-media-cache-ak0.pinimg.com/originals/28/fe/43/28fe43c58fc349df2dddfed6e39be14b.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1 {
  color: blue;
  text-align: center;
  background-color: #2C2C2C;
}

hr {
  border: solid;
  border-color: black;
}

strong {
  border-bottom: solid;
  border-color: blue;
}

img {
  width: 1000px;
  height:500px;
  opacity: .7;
}
img:hover {
  opacity: 1.0;
}

#section-1 {
  background-color: black;
  color: orange;
  opacity: .7;

}

#section-2 {
  background-color: black;
  color: brown;
}

#section-3 {
  background-color: black;
  color: red;
}

#section-4 {
  background-color: black;
  color: blue;
}

#section-5 {
  background-color: darkblue;
  color: white;
  opacity: .8;
}
#section-5:hover {
  opacity: 1.0;
}

#section-6{
  background-color: grey;
}

#section-7 {
  background-color: black;
  opacity: .7;
  color: white;
}

#section-8 {
  background-color: black;
  color: red;

}

.numb {
  color: blue;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: inline;

}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.4s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #555; color:white;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:1040px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:1040px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: static;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
  img {
    width: 90%;
    height: 40%;
  }
}



.row {
  color: white;
  border: solid;
  padding: 15px;
  background-color: black;
}