body {
	margin-left: 20%;
	margin-right: 20%;
	background-color: grey;
}

h1 {
  color: blue;
  text-align: center;
  background-image: url(http://t-shirtguru.com/product-images/it-s-called-beer-pong-t-shirt-bustedtees-2.jpg);
}

hr {
  border: solid;
  border-color: blue;
}

strong {
  border-bottom: solid;
  border-color: blue;
}

img {
  width: 500px;
  height:500px;
}

.numb {
  color: blue;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: inline;

}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #555; color:blue;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: static;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}